.btn-black {
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-black:hover {
  background-color: #333333;
}

.btn-black:active {
  background-color: #222222;
}

.btn-black:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-white:hover {
  background-color: #f0f0f0;
}

.btn-white:active {
  background-color: #e0e0e0;
}

.btn-white:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.btn-preview {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin: 15px 0;
}

.btn-preview:hover {
  background-color: #f0f0f0;
}

.btn-preview:active {
  background-color: #e0e0e0;
}

.btn-preview:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.form-field-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #222222;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

label {
  margin-top: 10px;
  font-weight: bold;
  display: block;
}
